# =========================
# MONGODB
# =========================
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=admin123
MONGO_DATABASE=hypesoft
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=admin123

# =========================
# KEYCLOAK ADMIN
# =========================
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123

# =========================
# KEYCLOAK APP CONFIG
# =========================
KEYCLOAK_REALM=hypesoft
KEYCLOAK_CLIENT_ID=hypesoft-frontend
KEYCLOAK_API_AUDIENCE=hypesoft-frontend

# =========================
# BACKEND
# =========================
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5000

# =========================
# FRONTEND (VITE)
# =========================
VITE_API_BASE_URL=http://localhost:5000/api
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=hypesoft
VITE_KEYCLOAK_CLIENT_ID=hypesoft-frontend
